@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Lora:400,700,400italic,700italic|Merriweather:400,300italic,300,400italic,700,700italic|Dancing+Script:400,700);
html,
body {
  background-color: #FFF;
  color: #333;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lora', serif;
  font-size: 10pt;
}
a:visited {
  color: #f9f;
}
a {
  color: #99f;
}
header > nav {
  position: fixed;
  clear: both;
  width: 100%;
  background-color: #000;
  height: 1em;
  padding: 10px 0px;
  z-index: 100;
}
header > nav ul {
  list-style: none;
  margin: 0px 5px;
  padding: 0;
  float: left;
}
header > nav ul li {
  display: block;
  float: left;
  margin: 0px 10px;
  text-transform: lowercase;
}
header > nav ul li.brand {
  font-family: 'Dancing Script', cursive;
  text-transform: capitalize;
  font-size: 18pt;
  line-height: 9pt;
}
header > nav ul li.brand a {
  color: #FFF;
}
header > nav ul.right {
  float: right;
}
header > nav a {
  text-decoration: none;
}
main {
  margin-top: 40px;
}
