@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Lora:400,700,400italic,700italic|Josefin+Sans:100,300,400,700,100italic,300italic,400italic,700italic|Merriweather:400,300italic,300,400italic,700,700italic|Dancing+Script:400,700|Raleway:400,200,100,300,700,900);

.blur(@value){
    filter: blur(@value);
    -webkit-filter: blur(@value);
}

.grayscale(@value: 1) {
  -webkit-filter: grayscale(@value);
  -moz-filter: grayscale(@value);
  -o-filter: grayscale(@value);
  -ms-filter: grayscale(@value);
  filter: grayscale(@value);
}

html, body {
  background-color: #FFF;
  color: #333;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15pt;
}
/*
a:visited {
  color: #f9f;
}

a {
  color: #99f;
}
*/
header > nav {
  position: fixed;
  clear: both;
  width: 100%;
  background-color: #000;
  height: 50px;
  padding: 10px 0px;
  z-index: 100;
  ul
  {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    float: left;
    li {
      display: block;
      float: left;
      margin: 0px 20px;
      text-transform: lowercase;
      font-size: 1.75em;
      line-height: 96px;
      font-weight: 600;
      text-shadow: 1px 1px rgba(0,0,0,0.9);
      a {
        color: #FC9;
        &:hover {
          color: #FEC;
        }
      }
    }
    li.brand{
      font-family: 'Dancing Script', cursive;
      text-transform: capitalize;
      font-size: 3em;
      line-height: 9pt;
      font-weight: normal;
      a {
        color: #FFF;
      }
    }
    &.pull-right {
      float: right;
    }
  }
  ul.right {
    float: right;
  }
  a {
    text-decoration: none;
  }
}

main {
  margin-top: 35px;

}

main > section {
  padding: 20px;
  ul, ol {
    padding: 0;
  }
  &.people-photos {
    ul {
      list-style: none;
      margin: 0px auto;
      max-width: 960px;
      li {
        float:left;
        margin: 10px;
        figure {
          margin: 0;
        }
        img {
          display: block;
          width: 136px;
          height: 136px;
          .grayscale(1.0);
          /*.blur(1px);*/
          cursor: pointer;
          /*-webkit-filter: blur(1px) grayscale(100%);*/
          &:hover {
            -webkit-filter: grayscale(100%);
          }
        }
        figcaption {
          width: 136px;
          display: block;
          overflow: hidden;
          margin-top: 10px;
          font-size: 0.9em;
          text-align: center;
          font-weight: 600;
          & > .title {
            font-size: 0.75em;
            font-weight: normal;
          }
        }
      }
    }
  }
  &:first-child {
    padding-top: 0px;
  }
  p {
    &.block-bg {
      color: #FFF;
      background-color: rgba(0,0,0,0.5);
      padding: 50px;
      &.invert-bg {
        color: #000;
        background-color: rgba(255,255,255,0.5);
      }
    }
  }
  & > img:first-child {
    display: block;
    max-width: 960px;
    margin: 50px auto;
  }
  & > p:first-child {
      margin: 50px 200px;
      font-size: 1.5em;
  }
  & > header:first-child {
    text-align: center;
    h2 {
      font-size: 2.5em;
    }
  }
  ul {
    list-style: none;
    display: table;
    padding: 10px;
    padding-top: 0;
    &.card-group {
      li {
        display: table-cell;
        & > section {
          margin: 20px;
          padding: 10px;
    padding-top: 0;
    margin-top:0;
          & > header {
            text-align: center;
            h3 {
              margin: 10px;
            }
            .img {
              width: 100%;
              height: 240px;
  background-size: cover;
            }
          }
        }
      }
    }
  }
}
main > section.callout-image {
  padding: 50px;
  background-size: cover;
  background-position: center;
  text-align: center;

  h1 {
    font-size: 3.5em;
  }
  p {
    font-size: 1.25em
  }
}

main > section.description {
  p {
  max-width: 720px;
font-size: 1.25em;
margin: 50px auto;
}
}

main > section.blog-enteries {
  background-color: #CCC;
  padding: 30px;
  & > header {
    text-align: center;
  }
  & > ol {
    list-style: none;
    display: block;
      columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0;
    li {
      display: block;
      height: 200px;
      overflow: hidden;
      padding: 10px;
      p {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

footer {
  clear: both;

    padding: 30px;
    background-color: #000;
    color: #CCC;
    margin-bottom: 0px;
    text-align: right;
}